
.AddTaskForm{

    display: flex;
    justify-content: center;

}
label {
    display: block;
    margin-bottom: 5px;
  }
input {
    width: 100%;
    min-width: 100px; 
    box-sizing: border-box; 
    padding: 4px; 
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px; 
    transition: width 0.2s, border-color 0.2s;
}

input:focus {
    border-color: #007bff; /* Highlight border on focus */
    outline: none;
}
.SubmitButton{
    border: none;
    padding: 4px 24px;
    border-radius: 10px;
    margin-top: 10px;
}
.SubmitButton:hover {
    background-color: #e69d0a; /* Green */
    color: white;
  }

.SubmitButton:active{
    background-color: #e69d0a;
    padding: 2px 20px;
}