.taskList
{
    display: flex;
    justify-content: center;
}
.taskListbutton{
    background-color: rgba(233, 216, 138, 0.934);
    border: none;
    margin-left: 50px;
    padding: 4px 24px;
    border-radius: 10px;
   
}
.taskListbutton:hover {
    background-color: #e69d0a; /* Green */
    color: white;
  }

  .taskListbutton:active{
    background-color: #e69d0a;
    padding: 2px 20px;
}